target/
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/
.metadata/

# VS Code
.vscode/

# Build and OS specific
.DS_Store
Thumbs.db

nb-configuration.xml
